body {
    background-color: #f5f5f5;
}

.card {
    max-width: 500px;
    margin: 20px auto;
    padding: 15px;
    border-radius: 8px;
}


.card input,
.card select {
    width: 100%;
    margin-bottom: 10px;
}


#botonGuardar {
    width: 100%;
    background-color: #198754;
    border: none;
    color: white;
}

#botonGuardar:hover {
    background-color: #157347;
}


h1 {
    color: #081100;
}


table {
    background-color: white;
}


.table-dark tr th {
    background-color: #f8c8dc;
    color: #333;
}
